/* App-wide styling */
* {
    margin: 0;
}

html {
    font-size: min(1vw, 0.5625vh);
}

body {
    background-color: #0f1116;
    font-family: "Noto Sans", sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#hero {
    position: relative;
    background-color: #036;
    margin: 0;
    aspect-ratio: 9 / 16;
    width: 100rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    user-select: none;
}

#links {
    width: 400px;
    text-align: left;
    font-size: x-large;
    color: white;
    display: flex;
    flex-direction: column;
}

#links a {
    color: white;
    text-decoration: none;
    margin-top: 20px;
    margin: 10px 0px;
    border: white 1px solid;
    border-radius: 5px;
    padding: 10px;
}

#links a:hover {
    background-color: #1f1f1f;
    cursor: pointer;
}

#header {
    max-width: 1200px;
}

.radio-buttons input[type="radio"] {
    display: none;
}

.radio-buttons span.inner {
    display: inline-block;
    margin: 0.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border: 0.5rem solid #0063B1;
    border-radius: 2rem;
    cursor: pointer;
    min-width: 8.5rem;
    text-align: center;
}

.radio-buttons input[type="radio"]:checked + span.inner {
    background-color: #0063B1;
    color: #fff;
}

#preloaded-images {
   position: absolute;
   overflow: hidden;
   left: -9999rem; 
   top: -9999rem;
   height: 1px;
   width: 1px;
}